[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

csv = "*"
requests = "*"
pandas = "*"
__future__ = "with_statement"
__future__ = "absolute_import


[requires]

python_version = "3.6"
